.found {
  color: #111211 !important;
  background-color: #a576db8f;
}
/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the element with the .fadeIn class */
.fadeIn {
  color: red;
  /* animation: fadeIn 5s ease-in-out;  */
  /* Adjust the duration and timing function as needed */
}

.moving-element {
  transition: transform 0.5s ease-in-out; /* Set the transition property with the desired duration and timing function */
}

.clicked-element {
  transform: translateX(
    10px
  ); /* Move the element 10 pixels to the right on hover */
}
