.navbar-item {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0c0a0a;
  padding: 0.5rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-top: solid 1px grey;
  border-right: solid 1px grey;
  border-left: solid 1px grey;
}
.close-button {
  position: absolute;
  top: -6px;
  right: 1px;
  color: black;
  font-weight: lighter;
}
